@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <h1>My legacy site can't do a whole lot!</h1>
</div>

@if (Model.Version != "v1")
{
    <iframe src="https://lex-web-ui-codebuilddeploy-s553hao1m-webappbucket-19y8bhbqfecex.s3.amazonaws.com/index.html" height="500"></iframe>
}